$primary: #028173;
$primary-variant: #0AB68B;
$secondary: #92DE8B;
$secondary-variant: #FFE3B3;
$background: #FFFFFF;
$surface: #FFFFFF;
$error: #B00020;
$on-primary: #FFFFFF;
$on-secondary: #000000;
$on-background: #000000;
$on-surface: #000000;
$on-error: #FFFFFF;